<!-- .slide: data-background="url(images/slides/search/perf_tests.png) no-repeat center" data-background-size="contain" -->
